:root {
    --colorHover:whitesmoke;
}
.html {
    height:100vh;
}

body { 
    display: grid;
    background: url(../assets/background-home.jpg) no-repeat;
      /* Centramos el fondo horizontal y verticalmente */
      background-position: center;
      /* El fonde no se repite */
      background-repeat: no-repeat;
      /* Fijamos la imagen a la ventana para que no supere el alto de la ventana */
      background-attachment: fixed;
      /* El fonde se re-escala automáticamente */
      background-size: cover;
      /* Color de fondo si la imagen no se encuentra o mientras se está cargando */
      background-color: #FFF;
}


/*Estilo para el texto de bienvenida*/
 .welcome{
    display: grid;
    margin-top: 7rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 50rem), 1fr));    
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 200%;
    z-index: 1;
}

/*Estilo de grid para los botones*/
.gridStyle {
    display: grid;
    margin-bottom: 2rem;
    margin-left: 15rem;
    margin-right: 15rem;
    grid-auto-rows: 10rem;
    grid-template-rows: 2fr;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 12rem), 1fr));
    grid-gap: 2rem 2rem;
}

/*Estilos de los botones*/
.btnStyle {
    background-color:rgba(255, 255, 255, 0.74);
    border: var(--borderColor) 1px solid;
    border-radius: 10px;
    width: auto;
    height: auto;
}

.btnStyle:hover {
    background-color: var(--colorHover);
}

/*Se parar los botones del texto*/
.marginTop {
    margin-top: 2rem;
}

/* .iconsHomeColor {
    color:#69b190;
} */
