:root {
    --mainFont: 'Merriweather', serif;
    /* --backgroundImg: '../asserts/background.jpg'; */
    --colorMain: #69b190;
    --borderColor: grey;
}

.divFormRegister {
    background-color:rgb(255, 255, 255);
    position: absolute;
    top:  50%;
    left: 25%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: var(--mainFont);
    border: var(--borderColor) 1px solid;
    width: 35%;
    height: 50%;
    box-shadow: 20px 20px 50px  var(--borderColor);
    z-index: 1;
}

