.controlNumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  
}

.input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    -webkit-appearance: textfield;
}